# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
bazel-*
.venv/

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# Compiled C/C++ extensions
*.so
